body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Times', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(0.25turn,#e0c8dc, #e79ce1);
   color: black;
   background-size: cover;
} 

body p {
  line-height: 1.30;
}




code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  margin: 0;
  padding: 0;
}